{% load static %}
<html>
    <body>
        <link rel="stylesheet" type="text/css" href="{% static '/css/edit.css' %}">

        <form id="form" method="POST">
            <h1>{{ Task }}</h1>
            {% csrf_token %}
            <div id="inputs">
                {{ TodoForm.title }}
                <label>Completed: </label>
                {{ TodoForm.completed }}
            </div>
            <div id="buttons">
                <input id="edit" type="submit" value="Edit" name="edit">
                <input id="cancel" type="submit" value="Cancel" name="cancel">
            </div>
        </form>
    </body>
</html>